body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

header {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: blue;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: crimson;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

.container {
    text-align: center;
    background-color: white;
    color: blue;
    border-radius: 50px;
    cursor: pointer;
    margin:50px auto;
    width: 50%;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
} 
